body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
    z-index: 1;
}

.cabecalho {
    background-color: #0a1894;
    color: #e7f5fe;
    padding: 1%;
    text-align: center;
}

footer {
    text-align:  center;
    background-color: #0a1894;
    color: #7dd1e8;
    padding: 10px;
}

.foto {
    margin: 20px;
}

.foto img {
    max-width: 100%;
    border: 1px solid #7bbae4;
}

.foto p {
    text-align: center;
}

.titulo{
    padding-left: 2%;
}

.texto{
    padding-left: 3%;
    font-size: 120%;
}