body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #0a1894;
    color: #e7f5fe;
    text-align: center;
    padding: 30px;
}

section {
    padding: 20px;
}

section h2 {
    font-size: 1.5em;
}

section ul {
    list-style: disc;
    margin-left: 20px;
}

footer {
    text-align:  center;
    background-color: #0a1894;
    color: #7dd1e8;
    padding: 10px;
}

.foto {
    margin: 20px;
}

.foto img {
    max-width: 100%;
    border: 1px solid #7bbae4;
}

.foto p {
    text-align: center;
}
